<div class="jumbotron">
    <div class="container">
        <h1>Welcome to {{title}}</h1>
        <p>Simplify your links</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="long_url">Enter long URL here</label>
                    <input type="text" class="form-control" name="long_url" id="long_url" placeholder="Original URL" required>
                </div>
                <button type="submit" class="btn btn-primary">Shorten URL</button>
            </form>
        </div>
    </div>
</div>