<div class="jumbotron">
    <div class="container">
        <h1>Welcome to {{title}}</h1>
        <p>Simplify your links</p>
    </div>
</div>

<div class="container">
    <div> 
        <div>Your simplified url is:</div>    
        <div class = "short-url">
            <label for="short_url"><b>{{short_url}}</b></label>    
        </div>
        <button type="submit" class="btn btn-primary" onClick="window.location.href=window.location.href">Shorten another URL</button>
    </div>
</div>